.wrapper
  = render partial:"shared/header"
  = render partial:"shared/bread_crumbs"
  .wrapper2
    %main.l--container
      .l--content
        %section.mypage--user--icon
          =link_to "#", class: "mypage--user--icon__a" do
            %figure.mypage--user--icon__a__figure
              %img.mypage--user--icon__a__figure__img
            %h2.bold--team チームC
            .mypage--number
              %div.mypage--number__review
                評価
                %span.bold--review 100
              %div.mypage--number__listings
                出品数
                %span.bold--listings 100
        %section.mypage--tab--container--notification--todo
          %ul.mypage--tabs
            %li.mypage--tabs__active
              %h3.mypage--tabs__active__h3
                =link_to "#", class: "mypage--tabs__active__h3__a" do
                  お知らせ
            %li.mypage--tabs__inactive
              %h3.mypage--tabs__inactive__h3
                =link_to "#", class: "mypage--tabs__inactive__h3__a" do
                  やることリスト
          .tab--content
            %ul.mypage--item--ul
              %li.mypage--item--ul__li
                =link_to "#", class: "mypage--item--ul__li__a" do
                  %figure.mypage--item--ul__li__a__figure
                    %img
                  .mypage--item--body
                    .mypage--item--text 《今すぐチェック》年に一度のメルカリ大感謝祭を開催中
                    %time.mypage--item--body__time
                      %i.fa.fa-history
                      %span 1 時間前
                  %i.fa.fa-chevron-right
              %li.mypage--item--ul__li
                =link_to "#", class: "mypage--item--ul__li__a" do
                  %figure.mypage--item--ul__li__a__figure
                    %img
                  .mypage--item--body
                    .mypage--item--body__text 事務局から個別メッセージ「Googleログイン通知」
                    %time.mypage--item--body__time
                      %i.fa.fa-history
                      %span 2 時間前
                  %i.fa.fa-chevron-right
              %li.mypage--go--list
                =link_to "#", class: "go" do
                  一覧を見る
          %section.mypage--tab--container
            %h2.mypage--tab--head 購入した商品
            %ul.mypage--tabs
              %li.mypage--tabs__active
                %h3.mypage--tabs__active__h3
                  =link_to "#", class: "mypage--tabs__active__h3__a" do
                    取引中
              %li.mypage--tabs__inactive
                %h3.mypage--tabs__inactive__h3
                  =link_to "#", class: "mypage--tabs__inactive__h3__a" do
                    過去の取引
            .tab--content
              %ul.mypage--item--list
                %li.mypage--item--not--found 取引中の商品がありません
      .lside
        = render partial:"shared/side_bar"
  .aside
    .aside__banner
      .aside__banner__left
        %h2.aside__banner__left__title スマホでかんたんフリマアプリ
        %p.aside__banner__left__Advertising 今すぐ無料ダウンロード
        .aside__banner__left__icon
          .aside__banner__left__icon__image
            -# =image_tag "mercari_icon.png",size:"68x68"
          %ul.aside__banner__left__icon__link
            %li.aside__banner__left__icon__link__app
              =link_to "#" do
                -# =image_tag "app--icon.png",size:"133×40"
            %li.aside__banner__left__icon__link__google
              =link_to "#" do
                -# =image_tag "google--icon.png",size:"133×40"
      .aside__banner__right
        .aside__banner__right__image
          -# =image_tag "download_content_pc.png", class:"aside__banner__right__image"
  = render partial:"shared/footer"
  