.bread
  %nav.bread__crumbs
    %ul.bread__crumbs__ul
      - case params.values_at :controller, :action
      - when ['users', 'delete']
        - breadcrumb :user_sign_out
      - when ['users', 'mypage']
        - breadcrumb :user_mypage
      = breadcrumbs separator: " &nbsp;&nbsp;&#12297;&nbsp; "
      -# - when ['items','show']
      -#   - breadcrumb :item_show
    -#   %li.bread__crumbs__ul__li
    -#     =link_to "#", class: 'bread__crumbs__ul__li__a' do
    -#       %span メルカリ
    -#     %i.fa.fa-chevron-right
    -#   %li.bread__crumbs__ul__li
    -#     %span マイページ