.content-signin{
  width: 700px;
  margin: 0 auto;
  &__chapter1{
    background-color: #fff;
    &__top{
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
      font-size: 24px;
      font-weight:bold;
      padding: 32px 16px;
    }
    .card-form{
      padding: 64px;
      &__box{
        max-width: 320px;
        margin: 0 auto;
        .form-number{
          margin: 0;
          &__payment{
            font-weight: 600;
          }
          &__require{
            background: #ea352d;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
          }
          &__input{
            width: 100%;
            margin: 8px 0 0;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
          &__card-list{
            list-style: none;
            margin: 8px 0 0;
            &__visa{
              width:45px;
              height:20px;
            }
            &__master{
              width:30px;
              height:20px;
            }
            &__saison{
              width:30px;
              height:20px;
            }
            &__jcb{
              width:30px;
              height:20px;
            }
            &__american{
              width:21px;
              height:20px;
            }
            &__dainers{
              width:30px;
              height:20px;
            }
            &__discover{
              width:30px;
              height:20px;
            }
            li{
              display: inline-block;
              margin: 0 0 0 8px;
              vertical-align: middle;
            }
          }
        }
        .form-signup{
          margin: 40px 0 0;
          &__str{
            margin:0 8px;
          }
          &__expire{
            font-weight: 600;
          }
          &__require{
            background: #ea352d;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
          }
          &__month{
            display: inline-block;
            position: relative;
            width: 35%;
            margin: 8px 0 0;
            select{
              width: 100%;
              -webkit-appearance: button;
              -moz-appearance: button;
              appearance: button;
            }
            &__select{
              outline:0;
              // position: relative;
              z-index: 2;
              height: 48px;
              padding: 0 16px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: 0;
              font-size: 16px;
              line-height: 1.5;
              cursor: pointer;
            }
            &__icon{
              font: 14px FontAwesome;
              position: absolute;
              right: 16px;
              top: 30%;
              z-index: 2;
              color: #888;
              font-size: 14px;
              cursor: pointer;
            }
          }
          &__year{
            display: inline-block;
            position: relative;
            width: 35%;
            margin: 8px 0 0;
            select{
              width: 100%;
              -webkit-appearance: button;
              -moz-appearance: button;
              appearance: button;
            }
            &__select{
              position: relative;
              z-index: 2;
              height: 48px;
              padding: 0 16px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: 0;
              font-size: 16px;
              line-height: 1.5;
              cursor: pointer;
            }
            &__icon{
              font: 14px FontAwesome;
              position: absolute;
              right: 16px;
              top: 30%;
              z-index: 2;
              color: #888;
              font-size: 14px;
              cursor: pointer;
            }
          }
        }
        .form-security{
          margin: 40px 0 0;
          &__expire{
            font-weight: 600;
          }
          &__require{
            background: #ea352d;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
          }
          &__input{
            width: 100%;
            margin: 8px 0 0;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
          &__info{
            text-align: right;
            color: #0099e8;
            &__question{
              display: inline-block;
              width: 14px;
              height: 14px;
              border-radius: 50%;
              background: #0099e8;
              color: #fff;
              line-height: 14px;
              font-size: 12px;
              text-align: center;
            }
          }
        }
        .form-btn{
          margin: 40px 0 0;
          background-color:#ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          cursor: pointer;
          text-align: center;
        }
      }
    }
  }
}