.wrapper
  = render partial:"header"
  .bread-crumbs
  .container
    .content-side-bar
    .content
      .content__chapter
        %form.content__chapter__form
          .content__chapter__form__btn
            =link_to "#" do
              %button.content__chapter__form__btn__red{type:"submit"} ログアウト