.container{
  margin: 0 auto;
  width: 1020px;
  height:100vh;
  background-color:#f5f5f5;
  padding-top:40px;
  .content-side-bar{
    float: left;
    width: 280px;
    margin: 0 40px 0 0;
    height:100%;
    background-color:black;
  }
  .content{
    width: 700px;
    margin: 0 auto;
    height:100vh;
    &__chapter{
      background-color: #fff;
      &__form{
        padding: 64px;
        &__btn{
          max-width: 320px;
          margin: 0 auto; 
          &__red{
            background-color: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            text-decoration:none;
            text-align:center;
            cursor: pointer;
          }
        }
      }
    }
  }
}