@import "./mixin/mixins";
@import "./config/colors";

.wrapper-id {
  box-sizing: border-box;
  background-color: #f5f5f5;
  height: 1800px;
  width: 100vw;
  .id-container{
    margin:0 auto;
    width: 1020px;
  }
  .lside{
    float: left;
    width: 280px;
    margin-top: 60px;
    margin-bottom: 30px;
    .mypage--nav{
      &__ul{
        list-style: none;
        &__li{
          background-color: #fff;
          border-top: 1px solid #eee;
          &__item{
            background: #fff;
            position: relative;
            display: block;
            padding: 16px;
            font-size: 14px;
            color: #333;
            text-decoration: none;
            touch-action: manipulation;
            .fa-chevron-right{
              color: #ccc;
              position: absolute;
              right: 16px;
              top: 50%;
              transform: translate(0, -50%);
              transition: all ease-out .2s;
            }
          }
        }
        &__li {
          border-top: 1px solid #eee;
          &__item2{
            position: relative;
            display: block;
            padding: 16px;
            background: #fff;
            font-size: 14px;
            color: #333;
            text-decoration: none;
            touch-action: manipulation;
            .fa-chevron-right{
              color: #ccc;
              position: absolute;
              right: 16px;
              top: 50%;
              transform: translate(0, -50%);
              transition: all ease-out .2s;
            }
          }
        }
      }
      .mypage--nav--head {
        margin: 40px 0 0;
        font-weight: bold;
        font-size: 16px;
      }
    }
  }
  .box-id{
    float:right;
    width:700px;
  }
  .header-id {
    @include marginCenter;
    width: 700px;
    min-width: 700px;
    text-align: center;
    float: left;
    height: 45px;
    background-color: $mainWhite;
    margin-top: 60px;
    padding-top: 15px;
    line-height: 20px;
    border-bottom: solid 1px #f5f5f5;
    &__title-user {
      @include bold;
      font-size: 23px;
    }
  }

  .section {
    @include marginCenter;
    width: 700px;
    height: 1150px;
    background-color: $mainWhite;
    color: $fontColor;
    float: left;
    min-width: 700px;
    &__main {
      padding-top: 60px;
      width: 80%;
      text-align: left;
      margin-left: 70px;
      &__content {
        font-size: 14px;
        &__description {
          font-size: 14px;
        }
      }
      &__upload {
        margin-top: 8px;
        &__box {
          @include changeIcon;
        }
      }
      .link-to-upload {
        text-decoration: none;
      }
    }
    &__main-profile {
      margin-top: 40px;
      margin-left: 70px;
      text-align: left;
      font-size: 14px;
      &__box-category {
        @include bold;
      }
      &__box {
       margin-top: 5px; 
       &__area {
         height: 60px;
       }
      }
    }

    &__form {
      margin-left: 70px;
      text-align: left;
      font-size: 14px;
      &__group {
        margin-bottom: 30px;
        &__postal-code {
          @include bold;
          display: inline-block;
          padding-bottom: 3px;
        }
        &__any-box {
          @include anyBox;
                }
        &__text-field {
          margin-bottom: 30px;
          .postal-code {
            @include formatBox;
          }
        }
        &__prefectures {
          @include bold;
          display: inline-block;
          padding-bottom: 3px;
        }
        &__prefectures-select {
          &__wrap {
            position: relative;
            margin-bottom: 10px;
            .select {
              position: relative;
              height: 48px;
              width: 565px;
              padding-left: 10px;
              background-color: #fff;
              border: solid 1px #d3d3d3;
              -webkit-appearance: none;
              font-size: 16px;
              cursor: pointer;
              margin-bottom: 30px;
            }
            .fa-down-icon {
              position: absolute;
              right:70px;
              top: 30%;
              font-size: 8px;
              transform: translate(0, -50%);
              .fa.fa-chevron-down {
                font-size: 17px;
                color: #a9a9a9;
              }
            }
          }
        }
        &__city {
          @include bold;
          display: inline-block;
          padding-bottom: 3px;
        }
        &__any-box {
          @include anyBox;
        }
        &__text-field {
          .city {
            @include formatBox;
          }
        }
        &__address {
          @include bold;
          display: inline-block;
          padding-bottom: 3px;
        }
        &__any-box {
          @include anyBox;
        }
        &__text-field {
          .address {
            @include formatBox;
          }
        }
        &__building {
          @include bold;
          display: inline-block;
          padding-bottom: 3px;
        }
        &__any-box {
          @include anyBox;
        }
        &__text-field {
          .building {
            @include formatBox;
          }
        }

      }
    }
    &__register {
      width: 650px;
      margin-top: 20px;
      &__btn {
        width: 565px;
        height: 48px;
        background-color: #ea352d;
        border: solid 1px #d3d3d3;
        margin-bottom: 10px;
        font-size: 16px;
        padding-left: 15px;
        line-height: 48px;
        margin-left: 70px;
        text-align:center;
        &__box {
          color: $mainWhite;
          font-size: 14px;
        }
      }
    }
    .link-to-register {
      text-decoration: none;
    }
    &__about {
      width: 635px;
      margin-top: 30px;
      text-align: right;
      .link-to-about {
        @include changeIcon;
        text-decoration: none;
      }
    }
  }

  .aside{
    background: image-url("background-image.jpg");
    background-position: center;
    background-size: cover;
    margin-top: 30px;
    clear: both;
    &__banner{
      width: 750px;
      height: 260px;
      margin: 0 auto;
      color: #fff;
      position: relative;
      &__left{
        position: absolute;
        top: 20%;
        left: 16px;
        &__title{
          font-size: 16px;
        }
        &__Advertising{
          font-size: 24px;
          margin: 10px 0 0;
        }
        &__icon{
          margin: 20px 0 0;
          line-height: 68px;
          &__image{
            background: image-url("mercari_icon.png");
            background-position: center;
            background-size: cover;
            height:68px;
            width:68px;
            float: left;
          }
          &__link{
            margin: 0 0 0 24px;
            list-style: none;
            float: left;
            &__app{
              float: left;
              background: image-url("app-icon.png");
              background-position: center;
              background-size: cover;
              height:40px;
              width:133px;
            }
            &__google{
              float: left;
              margin: 0 0 0 16px;
              background: image-url("google-icon.png");
              background-position: center;
              background-size: cover;
              height:40px;
              width:133px;
            }
          }
        }
      }
      &__right{
        float:right;
        &__image{
          background: image-url("download_content_pc.png");
          background-position: center;
          background-size: cover;
          height: 260px;
          width:300px;
        }
      }
    }
  }

  .footer{
    padding: 0 20px 10px 20px;
    background: #212121;
    &__content{
      width: 1100px;
      margin: 0 auto;
      &__box{
        padding: 0 10px;
        height:300px;
        display: inline-block;
        margin-top: 18px;
        vertical-align: top;
        &__heading{
          color: #fff;
          font-size: 16px;
          font-weight: 100;
        }
        &__mass{
          list-style: none;
          &__left{
            vertical-align: top;
            width: 50%;
            float:left;
            white-space: normal;
            &__list{
              margin: 16px 0 0;
              opacity:0.7;
              color: #fff;
              font-size: 12px;
              line-height: 1.5;
            }
          }
          &__right{
            vertical-align: top;
            width: 50%;
            float:left;
            white-space: normal;
            &__list{
              margin: 16px 0 0;
              opacity:0.7;
              color: #fff;
              font-size: 12px;
              line-height: 1.5;
            }
          }
          &__list{
            margin: 16px 0 10px 0;
            opacity:0.7;
            color: #fff;
            font-size: 12px;
            line-height: 1.5;
          }
          &__icon{
            font:30px FontAwesome;
            color: #fff;
            margin: 30px 15px;
          }
        }
      }
      &__bottom{
        margin: 50px auto 0;
        &__icon{
          display: inline-block;
          margin-right: 10px;
          background: image-url("mercari-logo_white.png");
          background-position: center;
          background-size: cover;
          height:31px;
          width:124px;
        }
        &__copy-right{
          color:#fff;
          display: inline-block;
          width: 745px;
          margin: 8px 0 0;
          text-align: center;
          vertical-align: sub;
          font-size:12px;
          small{
            text-align: center;
            color:#fff;
          }
        }
      }
    }
  }

  .sell-btn{
    bottom: 32px;
    right: 32px;
    width: 160px;
    height: 160px;
    font-size: 22px;
    position: fixed;
    border-radius: 50%;
    background: #ea352d;
    color: #fff;
    text-align: center;
    &__text {
     margin: 14px 0 0;
    color: #fff;
    }
    &__icon-button{
     font:80px FontAwesome;
     color: #fff;
    }
  }
}