* {
  box-sizing: border-box;
}

.default-conteiner{
  background-color: #f5f5f5;
  display: block;
  font-weight: 400;
  height: 1450px;
  width: 100%;
  padding-bottom: 40px;
  border: 0.05px solid #f5f5f5;
  .l-container{
    &__clearfix{
      width: 1020px;
      display: block;
      margin: 40px auto 0;
      &__content{
        height:568px;
        width:700px;
        background-color: white;
        float: right;
        &__chapter{
          &__head{
            color: #333;
            font-size: 24px;
            padding: 8px 24px;
            border-bottom: 1px solid #f5f5f5;
            text-align: center;
            line-height: 1.4;
            font-weight: bold;
          }
        }
        .setting__profile-icon{
          height: 156px;
          width: 700px;
          padding: 72px 16px 24px;
          background-image: image-url("UNADJUSTEDNONRAW_thumb_14a4.jpg");
          background-size: cover;
          text-align: center;
          font-size: 0;
            &__f{
              display: inline-block;
              margin: 0;
              vertical-align: middle;
              &__img{
                border-radius: 50%;
                height: 60px;
                width: 60px;
              }
            }
            &__input-default{
              display: inline-block;
              width: 220px;
              height: 48px;
              margin: 0 0 0 8px;
              vertical-align: middle;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
            }
        }
          .setting__profile-content{
            padding: 40px 16px;
            &__textarea-default{
              box-sizing: border-box;
              display: block;
              width: 100%;
              max-width: 668px;
              min-height: 216px;
              display: block;
              padding: 10px;
              border: 1px solid #ccc;
              background: #fff;
              font-size: 16px;
              line-height: 1.5;
              font-weight: normal;
            }
            &__btn-red{
              margin: 16px 0 0;
              background:#ea352d;
              border: 1px solid #ea352d;
              color:#fff;
              display: block;
              width: 100%;
              line-height: 48px;
              font-size: 14px;
              border: 1px solid transparent;
              transition:all ease-out .3s;
              cursor:pointer;
              text-align:center;
            }
          }
      }
      &__l-side{
        float: left;
        width: 280px;
        margin: 0 40px 0 0;
        .mypage--nav{
          &__ul{
            list-style: none;
            &__li{
              border-top: 1px solid #eee;
              &__item{
                background: #eee;
                font-weight: 600;
                position: relative;
                display: block;
                padding: 16px;
                font-size: 14px;
                color: #333;
                text-decoration: none;
                touch-action: manipulation;
                .fa-chevron-right{
                  color: #333;
                  position: absolute;
                  right: 16px;
                  top: 50%;
                  transform: translate(0, -50%);
                  transition: all ease-out .2s;
                }
              }
            }
            &__li {
              border-top: 1px solid #eee;
              &__item2{
                position: relative;
                display: block;
                padding: 16px;
                background: #fff;
                font-size: 14px;
                color: #333;
                text-decoration: none;
                touch-action: manipulation;
                .fa-chevron-right{
                  color: #ccc;
                  position: absolute;
                  right: 16px;
                  top: 50%;
                  transform: translate(0, -50%);
                  transition: all ease-out .2s;
                }
              }
            }
          }
          .mypage--nav--head {
            margin: 40px 0 0;
            font-weight: bold;
            font-size: 16px;
          }
        }
      }
    }
  }
}
