.bread-wrapper{
  .bread-crumbs{
    position: relative;
    border-top: 1px solid #eee;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    background: #fff;
    height: 48px;
    line-height: 3;
    width: 100%;
    
    ul {
      width: 1020px;
      margin: 0 auto;
      li {
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        font-size: 14px;
        line-height: 1.2;
        a {
          color: #333;
          text-decoration: none;
          touch-action: manipulation;
        }
      }
    }
  }
}

.wrapper2{
  background-color: #f5f5f5;
  padding-top: 10px;
  .l-container{
    margin: 40px auto 0;
    width: 1020px;
    height: 1500px;
    .l-content{
      float: right;
      width: 700px;
      .mypage-user-icon {
        height: 200px;
        position: relative;
        padding: 20px;
        background: image-url("pan2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        a {
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          transform: translate(0, -50%);
          color: #333;
          text-decoration: none;
          touch-action: manipulation;
          figure{
            overflow: hidden;
            margin: 0 auto;
            img{
              border-radius: 50%;
              width: 60px;
              height: 60px;
              vertical-align: middle;
              background: image-url("onpu.jpg") ;
              background-size: contain;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              z-index: 1;
              vertical-align: middle;
            }
          }
          .bold{
            font-weight: 600;
            line-height: 1.4;
            margin: 8px 0 0;
            font-size: 14px;
          }
          .div{
            display: inline-block;
            font-size: 14px;
            .bold{
              margin: 0 0 0 8px;
              font-size: 16px;
            }
          }
          .divdiv{
            display: inline-block;
            font-size: 14px;
            margin: 0 0 0 16px;
            .bold{
              margin: 0 0 0 8px;
              font-size: 16px;
            }
          }
        }
      }
      .mypage-tab-container-notification-todo {
        margin: 0;
        background: #fff;
        .mypage-tabs{
          border: 0;
          background: #eee;
          list-style: none;
          .active {
            background: #fff;
            width: 50%;
            text-align: center;
            vertical-align: top;
            float: left;
            h3 {
              font-weight: bold;
              font-size: 22px;
              .red {
                border-top: 2px solid #ea352d;
                position: relative;
                display: block;
                color: #333;
                font-size: 16px;
                line-height: 72px;
                text-decoration: none;
                touch-action: manipulation;
              }
            }
          }
          li {
            width: 50%;
            display: inline-block;
            text-align: center;
            vertical-align: top;
            h3 {
              font-weight: bold;
              font-size: 22px;
              a {
                position: relative;
                display: block;
                color: #333;
                font-size: 16px;
                line-height: 72px;
                text-decoration: none;
                touch-action: manipulation;
              }
            }
          }
        }
        .mypage-item-list.tab-pane.active {
          position: relative;
          display: block;
          li {
            border-bottom: 1px solid #eee;
            a {
              display: block;
              min-height: 0px;
              padding: 16px;
              color: #333;
              text-decoration: none;
              touch-action: manipulation;
              .meru {
                position: relative;
                overflow: hidden;
                float: left;
                width: 48px;
                height: 48px;
                margin:0;
                width: 50px;
                height: 50px;
                background: image-url("mercari_profile.png") ;
                background-size: contain;
              }
              .mypage-item-body{
                margin: 0 40px 0 68px;
                .mypage-item-text {
                  overflow: hidden;
                  max-height: 4.4em;
                  text-overflow: ellipsis;
                  line-height: 1.5;
                }
                time {
                  display: inline-block;
                  color: #888;
                  i {
                    margin: 0 8px 0 0;
                    display: inline-block;
                    font-style: normal;
                    font-weight: 400;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                  }
                  span {
                    vertical-align: middle;
                  }
                }
              }
              .fa-chevron-right{
                position: absolute;
                right: 16px;
                transform: translate(0, -100%);
              }
            }
          }
          .mypage-go-list{
            border: 0;
            position: relative;
            padding: 16px;
            .go {
              display: block;
              height: 60px;
              margin: 0 auto;
              background: #eee;
              color: #333;
              line-height: 30px;
              text-align: center;
              text-decoration: none;
              touch-action: manipulation;
            }
          }
        }
      }
      .mypage-tab-container{
        padding: 40px 0 0;
        background: #f5f5f5;
        .mypage-tab-head {
          background: #fafafa;
          font-size: 16px;
          line-height: 72px;
          padding: 0 16px;
          font-size: 100%;
          font-weight: normal;
          display: block;
          margin-block-start: 0.83em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          font-weight: bold;
        }
        .tab-content{
          background-color: white;
          .mypage-item-not-found {
            padding: 160px 0 60px;
            background:image-url("merusiro.png");
            background-repeat: no-repeat;
            background-position: center 40px;
            background-size: 200px 100px;
            text-align: center;
            font-size: 16px;
            color: #ccc;
            font-weight: 600;
          }
        }
      }
    }
    .lside{
      float: left;
      width: 280px;
      margin: 0 40px 0 0;
      .mypage-nav{
        .mypage-nav-list{
          list-style: none;
          li{
            border: 0;
            top: 50%;
            .mypage-nav-list-item.active{
              background: #eee;
              font-weight: 600;
              position: relative;
              display: block;
              padding: 16px;
              font-size: 14px;
              color: #333;
              text-decoration: none;
              touch-action: manipulation;
              i{
                color: #333;
                position: absolute;
                right: 16px;
                top: 50%;
                transform: translate(0, -50%);
                transition: all ease-out .2s;
              }
            }
          }
          li{
            border-top: 1px solid #eee;
            .mypage-nav-list-item{
              position: relative;
              display: block;
              padding: 16px;
              background: #fff;
              font-size: 14px;
              color: #333;
              text-decoration: none;
              touch-action: manipulation;
              i{
                color: #333;
                position: absolute;
                right: 16px;
                top: 50%;
                transform: translate(0, -50%);
                transition: all ease-out .2s;
              }
            }
          }
        }
        h3{
          margin: 40px 0 0;
        }
      }
    }
  }
}
