*{
  box-sizing:border-box;
  text-decoration:none;
}
.wrapper-search {
  height: 1300px;
  width: 100vw;
  background-color: #f5f5f5;
  .container {
    box-sizing: border-box;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 40px;
    &__left {
      float: left;
      margin-left: -30px;
      &__sort-area {
        height: 45px;
        width: 285px;
        border: solid 1px #dcdcdc;
        background-color: #fff;
        border-radius: 4px;
        line-height: 40px;
      }
      &__search-area {
        height: 800px;
        width: 285px;
        background-color: #fff;
        margin-top: 40px;
      }
    }
    &__right {
      float: left;
      width: 650px;
      margin-left: 60px;
      &__search-result {
        height: 45px;
        &__item-name {
          display: inline-block;
          font-size: 25px;
          font-weight: bold;
        }
        &__text {
          display: inline-block;
        }
      }
      &__displayed-results {
        font-size: 11px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #696969;
      }
      &__search-item {
        width: 740px;
        box-sizing: border-box;
        &__results {
          &__box {
            width: 170px;
            height: 240px;
            background-color: #fff;
            display: inline-block;
            margin-bottom: 20px;
            margin-right: 10px;
            &__image-box {
              img {
                width: 100%;
                height: 150px;
              }
              &__name-box {
                width: 150px;
                height: 40px;
                margin: 0 10px;
                overflow: hidden;
                font-size: 14px;
                word-break: break-all;
              }
              &__name-box::after {
                display: block;
                height: 1.5em;
                width: 50px;
                bottom: 10px;
                right: 0;
                content: '';
              }
              &__price {
                font-size: 13px;
                margin: 14px 5px 0px 10px;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}